$primary-color: #4da6fa;
$accent-color: #89e3ee;
$yellowaccent: #ffd71a;
$selected: #3f7eb2;
$headerfont:'Oswald', sans-serif;
$displayfont: 'Merriweather', serif;


.trainingpage {
  background-image: url("../images/bblbglt.png");
background-size: contain;
h1, h2 {
text-align: center;
padding-bottom: 10px;}

 p{
   line-height: 1.8;}
}



#lap101 {
  background: white;
  padding: 0px 50px 25px;
  box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.2);
  text-align: center;

  a {
    color: $primary-color;
  }
  a:hover {
    color: $selected;
  }
  img {
    padding-top: 125px;
    height: 100px;
  }

ul {
  list-style: none;
}
h3 {text-align: left;
line-height: 1px;
  color: $selected;}

li {
   text-align: left;
  padding-bottom: 20px;}
}

  #workouts {

    background: white;
    padding: 25px 50px 25px;
    margin-top: 50px;
    box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.2);
    text-align: center;


    .cross {
      height: 25px;
      padding: 10px;
      }
    .workoutcontainer {
      h3 {
        text-transform: uppercase;}
       display: flex;
       h3:hover {
         color: $primary-color;
       }
       div{
         width: 30%;
         padding: 25px;}
    }
  }

  #technique {
    background: white;
    padding: 25px 25px 25px;
    margin-top: 50px;
    box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.2);
    text-align: center;
    img {
      height: 80px;
    }
    .techniquecontainer {
      overflow: hidden;
      clear: both;
      margin-top: 50px;
      #videos {
        float: left;
        padding: 10px 0px 50px;
        width: 50%;
        h2 {padding-bottom: 25px;}
      }
        #books{
          float: right;
          width: 40%;
          margin: 0% 2% 0% 0%;

           h2 {
             padding: 10px 0px 25px;
           }
           h3 {
             color: $selected;
           margin: 0px;}

      .bookimg {
        float: left;
        clear: both;
        padding:0px 10px 10px;
      }
      .bookinfo {
        h3{
        text-align: left;}
        p {
          text-align: left;
          padding-bottom: 28px;}
      }
    }
}

  #other {

    clear: both;
    margin: 0 none;
   h2, h3, p {
    text-align: left;}
    ul{
    -webkit-padding-start: 0px;
      list-style: none;
      h3 {
        color: $selected;
        margin: 0px;
        padding: 0px
      }

     a:hover {
        color: $primary-color;
      }
    }
  }
  }
@media (min-width: 481px) and (max-width: 780px) {
  #workouts .workoutcontainer{
    text-align: center;
    display: block;
    div {
      width: 90%;
    }
  }
  #technique .techniquecontainer #videos {
    float: none;
    width: 100%;
  }
  #technique .techniquecontainer #books {
    float: none;
    width: 100%;
    margin: 2% 5% 5%;
  }

}
@media (min-width: 380px) and (max-width: 480px) {
#lap101 {padding-top: 50px;}

  #technique .techniquecontainer #videos {
    float: none;
    width: 100%;
  }
  #technique .techniquecontainer #books {
    float: none;
    width: 100%;
    margin: 2% 5% 5%;
  }
  #workouts .workoutcontainer{
    text-align: center;
    display: block;
    div {
      width: 90%;
    }
  }
}
