$primary-color: #4da6fa;
$accent-color: #89e3ee;
$yellowaccent: #ffd71a;
$selected: #3f7eb2;
$headerfont:'Oswald', sans-serif;
$displayfont: 'Merriweather', serif;

.shareside {
  float: left;
  top: 150px;
  width: 10%;
  position: fixed;
  background: white;
  z-index: -1;

h3 {text-align: center;}
img {
  height: 50px;
  padding: 0px;
}

ul{
  padding-left: 10px;
  list-style: none;
}
li {padding: 20px 10px;}
}

.workoutmain {
  width: 75%;
  padding: 175px 150px 50px;
  h1, h2, {
  text-align: left;
  padding-bottom: 10px;
  font-family: $headerfont;
  color: #333333;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 1.6;
  text-transform: capitalize;
  margin: 0px;}

.workoutitem {
    text-align: left;

}
.print {
  padding: 10px 0px 25px;

button {
  margin-top: 15px 0px 25px;
  padding: 10px;
  border-radius: 5px;
  background: $primary-color;
  border-color: $selected;
  font-family: $headerfont;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 300;
  color: white;
  border-style:solid;
}
}
.footerdiv{
  width: 100%;
}
}
